<div class="well hoverwell thumbnail" [routerLink]="['/events', event.id]">
    <app-project-favorite [favorite]="'true'"></app-project-favorite>
    <h2> 
        {{event.name}}
    </h2>
    
    <div>Date: {{event.date}}</div>
    <div [ngSwitch]="event?.time" [ngClass]="getTimeClass()">
        Time: {{event.time}}
        <span *ngSwitchCase="'8:00 am'">(early start)</span>
        <span *ngSwitchCase="'10:00 am'">(late start)</span>
        <span *ngSwitchDefault>(normal start)</span>        
    </div>
    <div>Price: ${{event.price}}</div>
    <div *ngIf="event?.location">
        <span>Location: {{event.location.address}}</span>                
        <span class="pad-left">{{event.location.city}}, {{event.location.country}}</span>                
    </div>    
    <div *ngIf="event?.onlineUrl">
        <span>Online URL: {{event.onlineUrl}}</span>
    </div>
</div>